<h1 mat-dialog-title>{{ data.player ? "編輯玩家" : "新增玩家" }}</h1>

<mat-dialog-content>
  <form [formGroup]="playerFG">
    <!-- 玩家頭像 avatar -->
    <div class="w-full my-2">
      <div class="flex justify-between items-center">
        <button mat-icon-button (click)="changeAvatar(-1)">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="flex flex-col items-center">
          <span class="text-5xl my-2">{{ playerFCs["avatar"].value }}</span>
          <span class="text-sm"
            >{{ avatarIndex === -1 ? "?" : avatarIndex + 1 }} /
            {{ avatarTotal }}</span
          >
        </div>

        <button mat-icon-button (click)="changeAvatar(1)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <!-- 玩家名稱 name -->
    <mat-form-field class="w-full">
      <mat-label>玩家名稱</mat-label>
      <input
        type="text"
        inputmode="text"
        placeholder="請輸入玩家名稱"
        required
        formControlName="name"
        matInput
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-stroked-button [mat-dialog-close]="undefined">
    取消
  </button>
  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="playerFG.invalid"
    (click)="onSubmit()"
  >
    {{ data.player ? "更新" : "新增" }}
  </button>
</mat-dialog-actions>
