<div class="page-with-footer-toolbar flex flex-wrap justify-center">
  <span class="w-full text-xl text-center my-2">請確認設定與牌型</span>

  <div
    class="w-full flex flex-col items-center lg:flex-row lg:justify-center lg:items-start"
  >
    <form [formGroup]="settingsFG" class="w-screen max-w-sm lg:mr-4">
      <div class="flex flex-col px-4 lg:flex-row lg:px-0">
        <!-- 底 basePrice -->
        <mat-form-field class="w-full mr-0 lg:mr-2">
          <mat-label>底</mat-label>
          <input
            type="number"
            inputmode="numeric"
            step="1"
            placeholder="請輸入底"
            required
            min="0"
            formControlName="basePrice"
            matInput
          />
          <span matSuffix>元</span>
        </mat-form-field>

        <!-- 台 pointPrice -->
        <mat-form-field class="w-full">
          <mat-label>台</mat-label>
          <input
            type="number"
            inputmode="numeric"
            step="1"
            placeholder="請輸入台"
            required
            min="0"
            formControlName="pointPrice"
            matInput
          />
          <span matSuffix>元</span>
        </mat-form-field>
      </div>

      <mat-list>
        <!-- 流局時過莊 -->
        <mat-list-item>
          <div class="w-full flex justify-between items-center">
            <span>流局時過莊</span>
            <mat-slide-toggle
              formControlName="changeDealerOnDrawn"
            ></mat-slide-toggle>
          </div>
        </mat-list-item>

        <!-- 不算莊家台，只算連莊台 -->
        <mat-list-item>
          <div class="w-full flex justify-between items-center">
            <span>不算莊家台，只算連莊台</span>
            <mat-slide-toggle
              formControlName="excludeDealerPoint"
            ></mat-slide-toggle>
          </div>
        </mat-list-item>

        <!-- 記錄聽牌 -->
        <mat-list-item>
          <div class="w-full flex justify-between items-center">
            <span>記錄聽牌</span>
            <mat-slide-toggle
              formControlName="recordReadyHand"
            ></mat-slide-toggle>
          </div>
        </mat-list-item>
      </mat-list>
    </form>

    <div
      id="rules-table-container"
      *ngIf="ruleUuidsInUse$ | async as ruleUuidsInUse"
      class="w-screen max-w-sm border-2 overflow-auto"
    >
      <table mat-table recycleRows [dataSource]="rules" matSort class="w-full">
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let rule; columns: displayedColumns"></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="displayedColumns; sticky: true"
        ></tr>

        <!-- 名稱 name: 牌型名稱 name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>名稱</th>
          <td mat-cell *matCellDef="let rule">{{ rule.name }}</td>
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="4" class="p-0">
            <div class="text-center cursor-pointer" (click)="onAddRule()">
              <button type="button" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- 台數 points: 牌型台數 points -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            台數
          </th>
          <td mat-cell *matCellDef="let rule">{{ rule.points }}</td>
          <td mat-footer-cell *matFooterCellDef class="hidden"></td>
        </ng-container>

        <!-- 編輯: edit -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>編輯</th>
          <td mat-cell *matCellDef="let rule">
            <div class="text-center">
              <button
                type="button"
                mat-icon-button
                (click)="onUpdateRule(rule)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef class="hidden"></td>
        </ng-container>

        <!-- 刪除 delete -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>刪除</th>
          <td mat-cell *matCellDef="let rule">
            <div class="text-center">
              <button
                type="button"
                mat-icon-button
                [disabled]="ruleUuidsInUse.has(rule.uuid)"
                (click)="onDeleteRule(rule)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef class="hidden"></td>
        </ng-container>
      </table>
    </div>
  </div>

  <mat-toolbar class="footer-toolbar flex mat-elevation-z8">
    <button type="button" mat-flat-button routerLink="/players">上一步</button>

    <span class="grow"></span>

    <button
      type="button"
      mat-flat-button
      [disabled]="(ruleUuidsInUse$ | async)?.size !== 0"
      (click)="onResetRules()"
    >
      重置牌型
    </button>

    <button
      type="button"
      mat-flat-button
      color="primary"
      [disabled]="settingsFG.invalid"
      routerLink="/pick-players"
    >
      下一步
    </button>
  </mat-toolbar>
</div>
