@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, "primary");

  #rules-table-container .mat-table-sticky {
    color: mat.get-color-from-palette($primary-palette);
    background-color: mat.get-color-from-palette($primary-palette, 50);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}

#rules-table-container {
  max-height: max(70vh, 250px);

  .mat-column-edit,
  .mat-column-delete {
    width: 56px;
    min-width: 56px;
    text-align: center;
  }
}
