<div
  class="flex flex-col absolute top-0 right-0 bottom-0 left-0"
  [class.is-mobile]="mobileQuery.matches"
  [class.is-sidnav-opened]="sidenav.opened"
>
  <mat-toolbar
    id="app-header-toolbar"
    color="primary"
    class="flex justify-between mat-elevation-z8"
  >
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="font-normal" (click)="printLocalStorageSize()">一条</h1>

    <button mat-icon-button (click)="toggleDarkMode()">
      <mat-icon>{{
        (isDarkMode$ | async) ? "dark_mode" : "light_mode"
      }}</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    id="app-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      id="app-sidenav"
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <!-- 玩家 -->
        <mat-list-item routerLink="/players" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>people</mat-icon>
          </button>
          <span>玩家</span>
        </mat-list-item>

        <!-- 規則 -->
        <mat-list-item routerLink="/rules" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>list</mat-icon>
          </button>
          <span>規則</span>
        </mat-list-item>

        <!-- 牌桌 -->
        <mat-list-item
          routerLink="/board"
          routerLinkActive="active"
          [disabled]="!(isBoardReady$ | async)"
        >
          <button mat-icon-button>
            <mat-icon>grid_view</mat-icon>
          </button>
          <span>牌桌</span>
        </mat-list-item>

        <ng-container *ngIf="records$ | async as records">
          <!-- 紀錄 -->
          <mat-list-item
            routerLink="/records"
            routerLinkActive="active"
            [disabled]="records.length === 0"
          >
            <button mat-icon-button>
              <mat-icon>table_chart</mat-icon>
            </button>
            <span>紀錄</span>
          </mat-list-item>

          <!-- 分析 -->
          <mat-list-item
            routerLink="/analytics"
            routerLinkActive="active"
            [disabled]="records.length === 0"
          >
            <button mat-icon-button>
              <mat-icon>analytics</mat-icon>
            </button>
            <span>分析</span>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content #sidenavContent class="p-4 lg:p-8">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
