<h1 mat-dialog-title>新增一筆自摸紀錄</h1>

<mat-dialog-content>
  <form [formGroup]="selfDrawnRecordFG">
    <div class="my-2">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header
            collapsedHeight="72px"
            expandedHeight="96px"
          >
            <mat-panel-description class="flex flex-wrap">
              <div class="w-full text-black dark:text-white">
                <span
                  >{{ selfDrawnRecordFCs["winner"].value?.avatar }}
                  {{ selfDrawnRecordFCs["winner"].value?.name }}</span
                >
              </div>

              <div class="w-full flex">
                <div class="flex flex-col items-center">
                  <span> 底台 </span>
                  <span>
                    ( {{ selfDrawnRecordFCs["basePoints"].value }} 台</span
                  >
                </div>

                <div class="flex flex-col items-center ml-2">
                  <span> 牌型 </span>
                  <span>
                    {{ selfDrawnRecordFCs["rulePoints"].value }} 台
                    {{ (isDealerWinner$ | async) ? "" : ") * 3" }}
                  </span>
                </div>

                <div class="flex flex-col items-center ml-2">
                  <span> 莊家 </span>
                  <span>
                    {{ selfDrawnRecordFCs["dealerPoints"].value }} 台
                    {{ (isDealerWinner$ | async) ? ") * 3" : "" }}
                  </span>
                </div>

                <span class="grow"></span>

                <div class="flex flex-col items-center font-bold ml-4">
                  <span> 總計 </span>
                  <span>
                    {{ selfDrawnRecordFCs["totalPoints"].value }} 台
                  </span>
                </div>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- 自摸玩家 winner -->
          <mat-form-field class="w-full">
            <mat-label>自摸玩家</mat-label>
            <mat-select
              placeholder="請選擇自摸玩家"
              required
              formControlName="winner"
            >
              <mat-option
                *ngFor="let player of playersOnBoard$ | async"
                [value]="player"
              >
                <div class="flex items-center">
                  <span>{{ player?.avatar }} {{ player?.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>胡牌牌型</mat-label>
            <mat-select
              placeholder="請選擇胡牌牌型"
              formControlName="rules"
              [compareWith]="compareRule"
              multiple
            >
              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip
                    *ngFor="let rule of selfDrawnRecordFCs['rules'].value"
                    >{{ rule.points }} {{ rule.name }}</mat-chip
                  >
                </mat-chip-list>
              </mat-select-trigger>
              <mat-optgroup
                *ngFor="let group of ruleGroups$ | async"
                [label]="group.points + '台'"
              >
                <mat-option *ngFor="let rule of group.rules" [value]="rule">
                  {{ rule.name }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-stroked-button [mat-dialog-close]="undefined">
    取消
  </button>
  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="selfDrawnRecordFG.invalid"
    (click)="onSubmit()"
  >
    新增
  </button>
</mat-dialog-actions>
