<h1 mat-dialog-title>{{ data.rule ? "編輯牌型" : "新增牌型" }}</h1>

<mat-dialog-content>
  <form [formGroup]="ruleFG">
    <!-- 牌型名稱 name -->
    <mat-form-field class="w-full">
      <mat-label>牌型名稱</mat-label>
      <input
        type="text"
        inputmode="text"
        placeholder="請輸入牌型名稱"
        required
        maxlength="12"
        formControlName="name"
        matInput
      />
    </mat-form-field>

    <!-- 牌型台數 points -->
    <mat-form-field class="w-full">
      <mat-label>牌型台數</mat-label>
      <input
        type="number"
        inputmode="numeric"
        step="1"
        placeholder="請輸入牌型台數"
        required
        formControlName="points"
        matInput
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-stroked-button [mat-dialog-close]="undefined">
    取消
  </button>
  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="ruleFG.invalid"
    (click)="onSubmit()"
  >
    {{ data.rule ? "更新" : "新增" }}
  </button>
</mat-dialog-actions>
