<div class="page-with-footer-toolbar flex flex-wrap justify-center">
  <span class="w-full text-xl text-center my-2">牌局紀錄</span>

  <div *ngFor="let record of records$ | async">
    <!-- TODO -->
  </div>

  <mat-toolbar class="footer-toolbar flex mat-elevation-z8">
    <button type="button" mat-flat-button routerLink="/board">回到牌桌</button>

    <span class="grow"></span>

    <button
      type="button"
      mat-flat-button
      [disabled]="((records$ | async)?.length ?? 0) === 0"
      (click)="onResetRecords()"
    >
      重置紀錄
    </button>

    <button
      type="button"
      mat-flat-button
      color="primary"
      routerLink="/analytics"
    >
      查看分析
    </button>
  </mat-toolbar>
</div>
